header {
    margin: 00 auto;
    padding: 20px;
    width: 70%;
    background: chartreuse;
    border: 10px solid blue;
    border-radius: 5px;
}

.list-1 {
    color: navy;
}

.list-2 {
    color: royalblue;
}

.flex-container {
    display: flexbox;
    gap: 40px;
}

.box-1 {
    color: purple;
}

.box-2 {
    color: blueviolet;
}

@media (max-width: 600px) {
    .flex-container {
        align-items: center;
    }

}